/* Navigation Bar */
.navigation .navbar-brand {
    color: white;
    margin-left: 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 5px;
}

.navbar {
    background-color: white;
    font-size: 24px;
    
}

.navbar-nav {
    /* Box-model */
    padding-top: 6px;
    padding-right: 20px;
  
    /* Typography */
    font-family: Arial;
    font-weight: lighter;
  }

.dropdown .dropdown-menu {
    background-color: #EDF3F2;
  }

.dropdown-item {
      color: #1f14b3;
  }

.nav-link {
    color: #1f14b3;
  }
  
.title {
      font-size: 40px;
      color: white;
      font-weight: bold;
      font: Georgia;
      padding-top: 10px;
  }

  .navbar-nav .ml-auto {
    padding-top: 6px;
    padding-right: 20px;
    font-family: Arial;
    font-weight: lighter;
  }


.iframeContainer {
    padding: 20px;
    border: 1px solid #E3E3E3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
}

/* Boxes */
.box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    background-color: white;
}

/* Footer */
#footer {
    background-color: #1f14b3;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #e71111;
    color: white;
    min-height: 60px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
}

#footer p {
    margin: 0;
    font-size: 16px;
}