<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NBA Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="static/css/d3S.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <!-- Navigation -->
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style=background-color:#4F85A7 href="index.html">Latitude</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Plots
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="max_temperature.html">Max Temperature</a>
                            <a class="dropdown-item" href="Humidity.html">Humidity</a>
                            <a class="dropdown-item" href="Cloudiness.html">Cloudiness</a>
                            <a class="dropdown-item" href="wind_speed.html">Wind Speed</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Comparison.html">Comparison</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Data.html">Data</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1>NBA Analysis</h1>
                <h2>
                    <center>Correlations Between Salary vs. Points per Game and Bang for Buck</center>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12  col-md-9">
                <div id="scatter"> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12  col-md-9">
                <div class="article">
                    <h3>More Analysis</h3>
                    <img src="/static/data/chart1.png" alt="chart2" class="secondimage">
                    <p>We wanted to know what teams held the players with the most salaries and if there were multiples
                        of the same team but there weren't</p>
                    <img src="/static/data/chart2.png" alt="chart3" class="thirdimage">
                    <p>We wanted to know what teams sent the most players to the allstar team. So we see the accumulated
                        numbers for each team over the years.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer-->
    <div id="footer">
        <p>The Coding Boot Camp&copy;2021</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="static/js/app.js"></script>
</body>